__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.idea/
.vscode/
.DS_Store
Thumbs.db
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
*.log
*.sqlite3
*.db
pip-wheel-metadata/
node_modules/
*.bak
*.swp
*.swo
*.tmp
*.orig
*.~
